$color-principal: rgb(0, 174, 255);
$negro: rgb(0, 0, 0);

#header {
  background-color: $color-principal;
  color: $negro;
  padding: 10px;
  border: 1px solid $negro;
  display: flex;
  justify-content: center;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;

  .nav-item {
    display: inline-block;
    font-size: 25px;
    padding: 15px;

    .nav-link {
      padding: 0.5rem 1rem;
      border: 2px solid #00000052;
      text-decoration: none;
      color: #333;
      font-weight: bold;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: #e0e0e0;
        transform: scale(1.1);
      }

      &.pagina-actual {
        font-weight: bold;
        border: 2px solid $negro;
        color: $negro;
        background-color: #e0e0e0;
      }
    }
  }
}

#main-index {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-items: center;

  .texto-index {
    padding-left: 4rem;

    .titulo {
      font-size: 45px;
      color: $color-principal;
      display: flex;
      justify-content: center;
      text-shadow: rgba(2, 75, 104, 0.856) 2px 1px;
    }
  }
}

img {
  width: 500px;
  padding: 60px;
}

p {
  line-height: 1.5;
  font-size: 20px;
  padding: 20px;
  text-align: justify;
}

#main-productos {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .section-productos {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 2rem;

    .imagen-productos {
      img {
        width: 500px;
        padding: 60px;
      }
    }
  }
}

#main-ofertas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#main-sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;

  .texto-sobre-nosotros {
    max-width: 800px;
    text-align: center;
  }

  .imagenes-sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;

    img {
      width: 90%;
      max-width: 550px;
      min-width: 250px;
      padding: 15px;
    }
  }
}

#main-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;

  #form {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 15px;

    label {
      font-size: 25px;
    }

    input,
    textarea {
      width: 100%;
      padding: 1rem;
      font-size: 25px;
    }

    button {
      padding: 1rem;
      font-size: 2rem;
      margin: 1.5rem;
      background-color: $color-principal;
      color: $negro;
      border: 1px solid $negro;
      cursor: pointer;
    }
  }
}

#footer {
  background-color: $color-principal;
  color: $negro;
  padding: 10px;
  border: 1px solid $negro;
  display: flex;

  .mapa {
    width: 400px;
    height: 200px;
  }
}

/* Responsive: dispositivos de hasta 800px */

@media screen and (max-width: 800px) {
  #main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .texto-index {
      padding: 1rem;

      .titulo {
        font-size: 32px;
        text-align: center;
      }
    }
  }

  p {
    font-size: 17px;
    padding: 10px;
    text-align: justify;
  }

  img {
    width: 90%;
    padding: 20px;
  }

  #main-productos {
    padding: 1rem;
    gap: 2rem;

    .section-productos {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .imagen-productos {
        img {
          width: 90%;
          padding: 20px;
        }
      }
    }
  }

  #main-ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    section {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    img {
      width: 90%;
      max-width: 400px;
      padding: 10px;
    }
  }

  #main-sobre-nosotros {
    padding: 1rem;

    .texto-sobre-nosotros p {
      font-size: 17px;
      text-align: justify;
      padding: 1rem;
    }

    .imagenes-sobre-nosotros {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      grid-auto-flow: row;
      justify-items: center;

      div:nth-child(3) {
        grid-column: span 2;
      }

      img {
        width: 90%;
        max-width: 300px;
        padding: 10px;
      }
    }
  }

  #main-contacto {
    #form {
      width: 100%;
      max-width: 400px;

      label {
        font-size: 20px;
      }

      input,
      textarea {
        padding: 0.8rem;
        font-size: 19px;
      }

      button {
        padding: 1rem;
        margin: 1rem;
        font-size: 1.2rem;
      }
    }
  }

  #footer {
    .mapa {
      width: 30%;
      height: 150px;
    }
  }
}
/* Responsive: dispositivos de 800px - 1200 */

@media screen and (min-width: 800px) and (max-width: 1200px) {
  #main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;

    .texto-index {
      padding: 1rem;

      .titulo {
        font-size: 40px;
        margin-bottom: 6rem;
      }
    }
  }

  p {
    font-size: 18px;
    text-align: justify;
  }

  #main-productos {
    padding: 2rem;
    gap: 2rem;

    .section-productos {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .imagen-productos {
        img {
          width: 80%;
          padding: 30px;
        }
      }
    }
  }

  #main-ofertas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    justify-items: center;

    img {
      width: 90%;
      max-width: 500px;
      padding: 10px;
    }
  }

  #main-sobre-nosotros {
    .texto-sobre-nosotros p {
      font-size: 18px;
      text-align: justify;
    }

    .imagenes-sobre-nosotros {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;

      div:nth-child(3) {
        grid-column: span 2;
      }

      img {
        width: 90%;
        max-width: 500px;
        min-width: 250px;
        padding: 15px;
      }
    }
  }

  #main-contacto {
    #form {
      width: 100%;
      max-width: 500px;

      label {
        font-size: 20px;
      }

      input,
      textarea {
        font-size: 22px;
      }

      button {
        font-size: 1.5rem;
      }
    }
  }

  #footer {
    .mapa {
      width: 30%;
      height: 150px;
    }
  }
}
